 {% extends 'core/base.html' %}
<!--  -->
{% block wf_page %}5d248c622758ae787f30bc55{% endblock %}
<!--  -->
{% block wf_site %}5d00a5e0ec9646414d2a961e{% endblock %}
<!--  -->
{% block title %}About{% endblock %}
<!--  -->

{% block content %}


<div class="section-about-us">
    <div class="container upper w-container">
        <div class="section-hero-content">
            <h1 class="hero-content-h1">Like My Spain</h1>
            <h3 class="hero-content-h3">Learn more about our principles and history</h3>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
<div class="section-about-us-content">
    <div class="container w-container">
        <div class="w-layout-grid about-us-content">
            <div id="w-node-d96eaf66-5549-de0d-f364-3cbaf502726d-7f30bc55" class="about-us-rich-content w-richtext">
                <h2>General information</h2>
                <p>Thus, consultation with a broad asset plays an important role in the formation of new proposals. Comrades! the implementation of the planned targets to a large extent determines the creation of a personnel training system that meets urgent
                    needs.
                </p>
                <p>‍<br/>It should not, however, be forgotten that the framework and place of training require the definition and clarification of participatory systems. We should not, however, forget that the constant information and propaganda support
                    of our activity allows us to estimate the value of the development model. The significance of these problems is so obvious that the scope and place of personnel training makes it possible to assess the significance of further development
                    directions. Comrades! The new model of organizational activity provides a wide range of (specialists) participation in the formation of significant financial and administrative conditions.</p>
            </div>
            <div id="w-node-df8d77e4-a095-9e65-6504-8b049b51b4b1-7f30bc55" class="about-us-image _1-image"></div>
            <div id="w-node-_8b8d7693-ace8-1972-abb8-4ef02f35294e-7f30bc55" class="about-us-image _2-image"></div>
            <div id="w-node-a95f57d3-b9c7-bc11-cfb6-0cd730c00631-7f30bc55" class="about-us-rich-content w-richtext">
                <h2>General information</h2>
                <p>Thus, consultation with a broad asset plays an important role in the formation of new proposals. Comrades! the implementation of the planned targets to a large extent determines the creation of a personnel training system that meets urgent
                    needs.
                    <br/><br/>It should not, however, be forgotten that the framework and place of training require the definition and clarification of participatory systems. We should not, however, forget that the constant information and propaganda
                    support of our activity allows us to estimate the value of the development model. The significance of these problems is so obvious that the scope and place of personnel training makes it possible to assess the significance of further
                    development directions. Comrades! The new model of organizational activity provides a wide range of (specialists) participation in the formation of significant financial and administrative conditions.</p>
            </div>
            <div id="w-node-_49c6da72-dfaf-c997-ab68-d51731b32c7a-7f30bc55" class="about-us-features">
                <h2 class="about-us-features-header">Our features</h2>
                <h3 class="about-us-features-subheader">Do you know why we are the best?</h3>
            </div>
            <div id="w-node-_41d35a97-76ce-9188-4c24-77c8b1b743c5-7f30bc55" class="about-us-rich-content w-richtext">
                <h2>General information</h2>
                <p>Thus, consultation with a broad asset plays an important role in the formation of new proposals. Comrades! the implementation of the planned targets to a large extent determines the creation of a personnel training system that meets urgent
                    needs.
                    <br/><br/>It should not, however, be forgotten that the framework and place of training require the definition and clarification of participatory systems. We should not, however, forget that the constant information and propaganda
                    support of our activity allows us to estimate the value of the development model. The significance of these problems is so obvious that the scope and place of personnel training makes it possible to assess the significance of further
                    development directions. Comrades! The new model of organizational activity provides a wide range of (specialists) participation in the formation of significant financial and administrative conditions.</p>
            </div>
            <div id="w-node-_61ce402b-bd72-cf07-7fd2-5dea4561f9d2-7f30bc55" class="about-us-image _3-image"></div>
            <div id="w-node-_3407a4cc-1b5b-9d4f-6d25-9e41b0aaafd3-7f30bc55" class="about-us-image _4-image"></div>
            <div id="w-node-_62392e2b-47fc-7794-0dd5-c474a748462e-7f30bc55" class="about-us-rich-content w-richtext">
                <h2>General information</h2>
                <p>Thus, consultation with a broad asset plays an important role in the formation of new proposals. Comrades! the implementation of the planned targets to a large extent determines the creation of a personnel training system that meets urgent
                    needs.
                    <br/><br/>It should not, however, be forgotten that the framework and place of training require the definition and clarification of participatory systems. We should not, however, forget that the constant information and propaganda
                    support of our activity allows us to estimate the value of the development model. The significance of these problems is so obvious that the scope and place of personnel training makes it possible to assess the significance of further
                    development directions. Comrades! The new model of organizational activity provides a wide range of (specialists) participation in the formation of significant financial and administrative conditions.</p>
            </div>
            <div id="w-node-_7a92de3b-c9b3-77a0-0ba6-eb0aa3fddba9-7f30bc55" class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div id="w-node-cf3d0444-3b48-7c74-f902-e0d95306ebef-7f30bc55" class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div id="w-node-f29c3d81-5b70-5239-df31-4abd25d76f4c-7f30bc55" class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div id="w-node-_8e6dc88a-dacb-e172-ac6b-d372df582b90-7f30bc55" class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div id="w-node-a2300a2d-4d79-58f8-ae98-3754d6b4c43f-7f30bc55" class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div id="w-node-_9169c5a0-5c18-9476-54e4-8b81886139a1-7f30bc55" class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div id="w-node-_574e8cd1-a05d-77aa-4d91-a37e5ebe0b84-7f30bc55" class="offices">
                <h2>Our partners</h2>
                <h3>Contact any office in different countries</h3>
                <div class="offices-collection-list-wrapper w-dyn-list">
                    <div role="list" class="offices-collection-list w-dyn-items w-row">
                        <div role="listitem" class="offices-collection-item w-dyn-item w-col w-col-3">
                            <div class="office-item">
                                <div style="background-image:url(&quot;/static/images/2021-08-12_16-17-35.png&quot;)" class="office-thumbnail"></div>
                                <div class="office-name">asdasdassdasd</div>
                                <div class="office-description">Velit quos iusto libero dicta porro dolor non voluptatum. Quisquam quidem rerum ipsum ipsa est laudantium a</div>
                                <a href="tel:0000" class="office-phone">0000</a>
                                <a href="mailto:test@mail.com?subject=Request%20to%20the%20office" class="office-email">test@mail.com</a></div>
                        </div>
                        <div role="listitem" class="offices-collection-item w-dyn-item w-col w-col-3">
                            <div class="office-item">
                                <div style="background-image:url(&quot;/static/images/1559315380251-image10.jpg&quot;)" class="office-thumbnail"></div>
                                <div class="office-name">Cum Odio Saepe</div>
                                <div class="office-description">Velit quos iusto libero dicta porro dolor non voluptatum. Quisquam quidem rerum ipsum ipsa est laudantium a</div>
                                <a href="tel:+1172256752" class="office-phone">+1 172 256 752</a>
                                <a href="mailto:Kale_Spencer@gmail.com?subject=Request%20to%20the%20office" class="office-email">Kale_Spencer@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}