 {% extends 'core/base.html' %}
<!--  -->
{% block wf_page %}5d248c622758ae787f30bc55{% endblock %}
<!--  -->
{% block wf_site %}5d00a5e0ec9646414d2a961e{% endblock %}
<!--  -->
{% block title %}About{% endblock %}
<!--  -->

{% block content %}


<style>
    .about-us-rich-content {
        margin-top: 16px !important;
    }
    
    #w-node-_574e8cd1-a05d-77aa-4d91-a37e5ebe0b84-7f30bc55 {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-column-span: 8;
    }
    
    .about-us-content {
        grid-column-gap: 0;
    }
    
    .about-us-features {
        margin-top: 0px;
    }
    
    .custom-section {
        padding: 1.5rem;
    }
</style>

<section class="section-about-us">
    <div class="container upper w-container">
        <div class="section-hero-content">
            <h1 class="hero-content-h1">About IMOSAKI REAL ESTATE</h1>
            <h3 class="hero-content-h3">Learn more about our principles</h3>
        </div>
    </div>
    <div class="background-overlay"></div>
</section>

<section class="custom-section">
    <div class="container w-container">
        <h2>General information</h2>
        <p>Welcome to IMOSAKI REAL ESTATE, your premier destination for luxury real estate in Morocco. With years of experience and a dedicated team of experts, we pride ourselves on delivering exceptional service and finding the perfect home for our clients.</p>
    </div>
</section>

<section class="custom-section">
    <div class="container w-container">
        <h2 class="top-of-the-block-h2">Our Mission</h2>
        <p>At IMOSAKI REAL ESTATE, our mission is to provide unparalleled real estate services that exceed our clients' expectations. We are committed to integrity, professionalism, and excellence in every transaction.</p>
    </div>
</section>

{% include "partials/features_section.html" %}

<section class="custom-section">
    <div class="container w-container">
        <section id="w-node-_574e8cd1-a05d-77aa-4d91-a37e5ebe0b84-7f30bc55" class="offices">
            <h2>Meet Our Teem</h2>
            <p>Our team of experienced real estate professionals is dedicated to helping you find your dream home. With extensive knowledge of the Moroccan real estate market, we provide personalized service to meet your unique needs.</p>
            <div class="offices-collection-list-wrapper w-dyn-list">
                <div role="list" class="offices-collection-list w-dyn-items w-row">
                    {% for member in members %}
                    <div role="listitem" class="offices-collection-item w-dyn-item w-col w-col-3">
                        <div class="office-item">
                            <div style="background-image:url('{{member.image.url}}')" class="office-thumbnail"></div>
                            <div class="office-name">{{member.name}}</div>
                            <div class="office-description">{{member.description}}</div>
                            <a href="tel:{{member.phone_number}}" class="office-phone">{{member.phone_number}}</a>
                            <a href="mailto:{{member.email}}?subject=Request%20to%20the%20office" class="office-email">{{member.email}}</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}