{% extends 'core/base.html' %}
<!--  -->
{% block wf_page %}5d248c622758ae165a30bc57{% endblock %}
<!--  -->
{% block wf_site %}5d00a5e0ec9646414d2a961e{% endblock %}
<!--  -->
{% block title %}Contact{% endblock %}
<!--  -->

{% block content %}

<div class="section-contact-us">
    <div class="container upper w-container">
        <div class="section-hero-content">
            <h1 class="hero-content-h1">Contact us</h1>
            <h3 class="hero-content-h3">Do you have any questions? Just contact us and we will help you</h3>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>
<div class="section-contacts-content">
    <div class="container container-content w-container">
        <div class="section-contacts-content-item">
            <h5 class="input-label">Phone numbers</h5>
            <div class="settings-collection-list-wrapper contacts-content w-dyn-list">
                <div role="list" class="settings-collection-list w-dyn-items">
                    <div role="listitem" class="settings-collection-item w-dyn-item"><a href="tel:+34633350100" class="settings-link contacts-content">+34 633 35 01 00</a><a href="tel:+34633350100" class="settings-link contacts-content">+34 633 35 01 00</a></div>
                </div>
            </div>
        </div>
        <div class="section-contacts-content-item">
            <h5 class="input-label">Email</h5>
            <div class="settings-collection-list-wrapper contacts-content w-dyn-list">
                <div role="list" class="settings-collection-list w-dyn-items">
                    <div role="listitem" class="settings-collection-item w-dyn-item">
                        <a href="mailto:{{request.settings.email}}?subject=Message%20to%20us" class="settings-link contacts-content">{{request.settings.email}}</a> </div>
                </div>
            </div>
        </div>
        <div class="section-contacts-content-item">
            <h5 class="input-label">Address</h5>
            <div class="settings-collection-list-wrapper contacts-content w-dyn-list">
                <div role="list" class="settings-collection-list w-dyn-items">
                    <div role="listitem" class="settings-collection-item w-dyn-item">
                        <div class="settings-item-text">{{request.settings.address}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-contacts-content-item">
            <h5 class="input-label">Social links</h5>
            <div class="settings-collection-list-wrapper contacts-content w-dyn-list">
                <div role="list" class="settings-collection-list w-dyn-items">
                    <div role="listitem" class="settings-collection-item w-dyn-item">
                        <a href="{{request.settings.instagram_url}}" class="settings-link contacts-content">Instagram</a>
                        <a href="{{request.settings.facebook_url}}" class="settings-link contacts-content">Facebook</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-wrapper-contacts">
        <div class="map-overlay"></div>
        <div class="embed-map w-embed w-script">
            <div id='map'></div>
            <style>
                #map {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
                
                .marker {
                    background-image: url('https://assets.website-files.com/5ce7fd869dad450588ee4df9/5cee80f5f39ac07cd3207464_Map%20pin.svg');
                    background-size: cover;
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
            </style>
            <div style="width: 100%;height: 100%; background-color: red;"></div>
        </div>
    </div>
</div>
{% endblock %}