{% extends 'core/base.html' %} {% load static %}
<!--  -->
{% block wf_page %}5d248c622758aeba6930bc34{% endblock %}
<!--  -->
{% block wf_site %}5d00a5e0ec9646414d2a961e{% endblock %}
<!--  -->
{% block title %}Homepage{% endblock %}
<!--  -->

{% block content %}


<div class="section-hero">
    <div class="container upper w-container">
        <div class="section-hero-content">
            <h1 class="hero-content-h1">{{city}}</h1>
            <h3 class="hero-content-h3">The Best Properties In {{city|title}}</h3>
        </div>
    </div>
    <div class="background-overlay"></div>
</div>

{% include "partials/select_property.html" with no_title=True %} {% endblock %}