<div class="modal-wrapper">
    <div class="modal">
        <h2 class="form-header form-header-modal">
            Contact us. Just fill out the form below.
        </h2>
        <div class="form-subheader form-subheader-modal">
            Our manager will contact you within 4 working hours.
        </div>
        <div class="form-block form-modal w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post" action="{% url 'core:submit_message' %}" class="form" data-wf-page-id="5d248c622758aeba6930bc34" data-wf-element-id="636ddcb1-5920-2e62-1954-c3cd1873c45e">
                {% csrf_token %}
                <div class="form-fields">
                    <input class="input w-node-_636ddcb1-5920-2e62-1954-c3cd1873c460-1873c457 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your Email" type="email" id="email-2" required="" />
                    <input class="input w-node-_636ddcb1-5920-2e62-1954-c3cd1873c461-1873c457 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Enter your name" type="text" id="name-2" required="" />
                    <textarea placeholder="Message us about your expectations" maxlength="5000" id="Message-2" name="Message" required="" data-name="Message 2" class="input textarea w-node-_636ddcb1-5920-2e62-1954-c3cd1873c462-1873c457 w-input"></textarea>
                </div>
                <input type="submit" data-wait="Please wait..." class="button wide w-button" value="Submit" />
                <div class="form-terms form-terms-modal">
                    Clicking Send you are agree with
                    <a href="#" class="form-terms-link form-terms-link-modal">Terms and Conditions</a
          >
        </div>
      </form>
      <div class="success-message w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="error-message w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
    <div
      data-w-id="636ddcb1-5920-2e62-1954-c3cd1873c46e"
      class="modal-close"
    ></div>
  </div>
</div>