<div class="section-our-features">
    <div class="container w-container">
        <div class="top-of-the-block">
            <h2 class="top-of-the-block-h2">Our features</h2>
            <h3 class="top-of-the-block-h3">Do you know why we are the best?</h3>
        </div>
        <div class="features">
            <div class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon"></div>
                <h3 class="feature-item-header">Some feature of the company</h3>
                <p class="feature-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
        </div>
    </div>
</div>