{% load static %}
<div class="section-our-features">
    <div class="container w-container">
        <div class="top-of-the-block">
            <h2 class="top-of-the-block-h2">Our Features</h2>
            <h3 class="top-of-the-block-h3">Do you know why we are the best?</h3>
        </div>
        <div class="features">
            <div class="feature-item">
                <img style="width: 64px; height: 64px;" src="{% static 'images/features/Personalized Service.png' %}" alt="">
                <h3 class="feature-item-header">Personalized Service </h3>
                <p class="feature-item-description">Our expert team provides tailored advice to find your perfect home.</p>
            </div>
            <div class="feature-item">
                <img style="width: 64px; height: 64px;" src="{% static 'images/features/Market Expertise.png' %}" alt="">
                <h3 class="feature-item-header">Market Expertise</h3>
                <p class="feature-item-description">Benefit from our deep knowledge of the Moroccan real estate market.</p>
            </div>
            <div class="feature-item">
                <img style="width: 64px; height: 64px;" src="{% static 'images/features/Trust and Reliability.png' %}" alt="">
                <h3 class="feature-item-header">Trust and Reliability</h3>
                <p class="feature-item-description">We are committed to providing transparent and trustworthy service.</p>
            </div>

        </div>
    </div>
</div>
<div class="section-our-features">
    <div class="container w-container">
        <div class="top-of-the-block">
            <h2 class="top-of-the-block-h2">Our Values</h2>
            <h3 class="top-of-the-block-h3">Discover our values?</h3>
        </div>
        <div class="features">
            <div class="feature-item">
                <img style="width: 64px; height: 64px;" src="{% static 'images/values/Integrity.png' %}" alt="">
                <h3 class="feature-item-header">Integrity</h3>
                <p class="feature-item-description">We uphold the highest standards of honesty and transparency.</p>
            </div>
            <div class="feature-item">
                <img style="width: 64px; height: 64px;" src="{% static 'images/values/Customer Focus.png' %}" alt="">
                <h3 class="feature-item-header">Customer Focus</h3>
                <p class="feature-item-description">Our clients' satisfaction is our top priority</p>
            </div>
            <div class="feature-item">
                <img style="width: 64px; height: 64px;" src="{% static 'images/values/Innovation.png' %}" alt="">
                <h3 class="feature-item-header">Innovation</h3>
                <p class="feature-item-description">We embrace new technologies to enhance the real estate experience.</p>
            </div>

        </div>
    </div>
</div>