{% load static %}
<div class="footer">
    <div class="container w-container">
        <div class="footer-grid">
            <div id="w-node-e3b1643d-fa42-646c-909e-617bfd14e780-6930bc34" class="footer-general">
                <a href="#" class="logotype logotype-footer w-nav-brand"><img src="{% static 'images/wide-20normal.svg' %}" alt="" /></a>
                <p>{{request.settings.hero_title}}</p>
            </div>
            <div id="w-node-e3b1643d-fa42-646c-909e-617bfd14e78f-6930bc34" class="footer-info">
                <div id="w-node-e3b1643d-fa42-646c-909e-617bfd14e790-6930bc34" class="footer-links">
                    <h5 class="footer-column-header">Navigation</h5>
                    <a href="/all-properties" class="settings-link">All properties</a><a href="/about-us" class="settings-link">About us</a><a href="/contacts" class="settings-link">Contacts</a>
                </div>
                <div id="w-node-e3b1643d-fa42-646c-909e-617bfd14e799-6930bc34" class="footer-links">
                    <h5 class="footer-column-header">Contacts</h5>
                    <div class="settings-collection-list-wrapper w-dyn-list">
                        <div role="list" class="settings-collection-list w-dyn-items">
                            <div role="listitem" class="settings-collection-item w-dyn-item">
                                {% for number in request.settings.phone_numbers %}
                                <a href="tel:{{number}}" class="settings-link">{{number}}</a> {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div id="w-node-e3b1643d-fa42-646c-909e-617bfd14e7a4-6930bc34" class="footer-links">
                    <h5 class="footer-column-header">Follow us</h5>
                    <div class="settings-collection-list-wrapper w-dyn-list">
                        <div role="list" class="settings-collection-list w-dyn-items">
                            <div role="listitem" class="settings-collection-item w-dyn-item">
                                <a href="{{request.settings.instagram_url}}" class="settings-link">Instagram</a>
                                <a href="{{request.settings.facebook_url}}" class="settings-link">Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="w-node-e3b1643d-fa42-646c-909e-617bfd14e7b1-6930bc34" href="#" class="button get-in-touch w-button">Get in touch</a>
        </div>
    </div>
</div>